@CHARSET "UTF-8";

.noScrolllayoutUnit .ui-layout-unit-content {
	overflow: hidden;
	padding: 0px;
}

.noScrolllayoutUnit {
	padding: 0px;
}

.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap,
	.ui-layout-bd, .ui-layout-hd {
	border: none;
}

.ui-layout-unit .ui-layout-unit-content {
	padding: 0px;
}

.nav  {
	height: 70px
}

a.menubaritem:only-child {
	   color: white;
	   font-size: 31px;
}

.ui-menu {
	background: #49c0f0; /* Old browsers */
	background: -moz-linear-gradient(top, #49c0f0 0%, #2cafe3 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #49c0f0),
		color-stop(100%, #2cafe3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #49c0f0 0%, #2cafe3 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #49c0f0 0%, #2cafe3 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #49c0f0 0%, #2cafe3 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #49c0f0 0%, #2cafe3 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0',
		endColorstr='#2cafe3', GradientType=0); /* IE6-9 */
	color : white;
}

.ui-widget-content a {
  color: #4f4f4f;
}
.ui-panelmenu .ui-panelmenu-header {
  cursor: pointer;
  position: relative;
  margin: 0;
  zoom: 1;
  border: 0px;
  
  }


.ui-corner-top {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border-right: solid 1px rgba(69, 66, 66, 0.22)
  /* background: #274B5F url("/mockup/javax.faces.resource/images/ui-bg_inset-hard_65_85b2cb_1x100.png.xhtml?ln=primefaces-aristo") 50% 50% repeat-x; */
  background: #85b2cb linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.4));
  background: #9BD6F7 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.4)));
  background: #85b2cb -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.4));
  font-weight: bold;
  color: #1C4257;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.ui-panelmenu .ui-panelmenu-content {
  padding: 0.2em 0;
  border-top: 0;
  margin-top: -2px;
  border : 0 ;
  position: relative;
  top: 1px;
  overflow: auto;
  zoom: 1;
}

